.movie-list-title {
  background-color: #fea49f;
}

.input-button {
  background-color: #fbaf08;
  color: #101357;
}

.watch-toggles {
  background-color: #007f4f;
  color: #f2f2f2
}

.movie {
  border: 1.5px solid #fea49f;
  display: grid;
}

.movie-title {
  font-weight: 600;
}

.watched-button {
  margin-left: 120px;
  background-color: #fea49f;
  color:  #101357
}

#app {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #101357;
  color: #f2f2f2
}
